
#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  flex-direction: column;
  height: 100vh;
  width: 100vh;
}

.middle-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  height: 85%;
  width: 50%;
  border-radius: 25px;
}

.middle-bg{
  position: absolute;

  background-color: #FDFDFD;
  opacity: 0.1;
  border-radius: 25px;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle-content {
  position: absolute;
  width: 75%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.side-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  height: 85%;
  width: 24%;
  border-radius: 25px;
}

.side-bg{
  position: absolute;

  background-color: #FCFBF8;
  opacity: 0.1;
  border-radius: 25px;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.side-text {
  position: absolute;
  text-align: center;
}