
.timer-button{
    width: 165px;
    padding: 9px 0px;
}
.timer-button:hover{background-color: #FF9C06;}

.timer-text{
    font-size: 110px;
    line-height: 145px;
    margin-top: 35px;

    font-family: Poppins;
    font-weight: 500;
  }

.queue-text{
    font-size: 20px;
}

.queue-container{
    background-color: #1D006F;
    border-radius: 25px;
    width: 100%;
    height: 35px;
    padding: 6px 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.section-button{
    background-color: #1D006F;
    color: #FDFDFD;

    font-size: 20px;
    width: 165px;
    padding: 12px 0px;
}

@media (max-width: 1100px) {
    .section-button {
        font-size: 20px;
        width: 65px;
    }
}
.section-button:hover{background-color:#F32FBC;}

.section-button:active{
    background-color: #F32FBC;
    color: #FDFDFD;
    border: none;
    outline: none;
}